<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="my-4">Our Users:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let user of userArr">
      <div class="card">
        <img [src]="user.image" class="card-img-top" alt="{{ user.firstName }} {{ user.lastName }}">
        <div class="card-body">
          <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
          <p class="card-text">{{ user.title }}</p>
          <p class="card-text">Total Todos: {{ getTotalByUser(user.id) }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let todo of getTodosByUser(user.id)">
              {{ todo.todo }} <span [ngClass]="{'badge bg-success': todo.completed, 'badge bg-danger': !todo.completed}">{{ todo.completed ? 'Completed' : 'Pending' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
