.border-custom {
  background-color: rgb(0, 0, 0);
}

.custom-width {
  width: 30rem;
}

.btn-custom {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-custom:hover {
  border-color: #ffffff;
  color: #ffffff;
}

.custom-width {
  width: 30rem;
}

